---
---
<!DOCTYPE html>
<html>
<head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Carlos Ramirez III</title>
  <link href="https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      background-color: #F7EDDE;
      color: #444F59;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      line-height: 1.6;
      margin: 40px auto;
      max-width: 650px;
      padding: 10px 10px 10px 0;
      text-align: center;
    }
    a {
      color: #820024;
    }
    h1 { 
      color: #243D82;
      font-family: 'Lora', serif;
    }
    h1, h2, h3 { line-height: 1.2 }
    img {
      width: 10rem;
    }
  </style>
  {% include analytics.html %}
  {% include drip.html %}
</head>
<body>
<h1>Carlos Ramirez III</h1>
<p>Builds <a href="https://www.toptal.com/resume/carlos-ramirez-iii#engage-great-contractors">software</a> and products using Ruby. Authors <a href="/archive">articles</a> and e-books. Maintains communities. Mentors <a href="https://www.codementor.io/carlosramireziii">programmers</a> and startups.</p>
<p>Believes that code can be both functional and <a href="http://bigthink.com/videos/good-programming-is-like-good-writing" target="_blank">beautiful</a>. Is allergic to complexity and subscribes to the lean methodology in business and in life.</p>
<img src="/assets/criii-main-logo.png" alt="Carlos Ramirez III logo"></img>
</body>
</html>
