<section class="page-cta">

  <h2>The Internet is dark and full of terrors. Let me illuminate it for you</h2>

  <p>There is so much out there to learn from, but information overload runs
  rampant.</p>

  <p>Sign up for my newsletter, and I'll send you the best, beginner-friendly
  resources I can find for budding programmers and entrepreneurs.</p>

  <form action="//carlosramireziii.us13.list-manage.com/subscribe/post?u=fd5cccfb8d1f53505e22eb917&amp;id=58f88e8f6f" method="post">
    <input type="text" name="EMAIL">

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fd5cccfb8d1f53505e22eb917_58f88e8f6f" tabindex="-1" value=""></div>

    <input type="submit" value="Subscribe" name="subscribe">
    <br>
    <small>Only valuable content, no spam from me</small>
  </form>

</section>
