<section id="post_cta" class="post-cta">

  <h2>Debug SJR With Ease Using This Cheat Sheet</h2>

  <p>I've created a PDF cheat sheet for you to reference the next time you get stumped by an uncooperative SJR template.</p>

  <form action="https://www.getdrip.com/forms/52645556/submissions" method="post" data-drip-embedded-form="52645556">
    <input type="email" name="fields[email]" value="" placeholder="Your Email Here"/>
    <input type="submit" name="submit" value="Get it Now" data-drip-attribute="sign-up-button" />
  </form>

</section>
